:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: whitesmoke;
}

#root > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .stats {
    display: flex;
    justify-content: space-between;
    width: 40%;
    background-color: rgb(233, 233, 233);
    box-shadow: 5px 5px 5px darkgray;
    margin: 1rem;
    padding: 1rem;
  }
  form {
    display: flex;
    flex-direction: row;
    input {
      margin: 1rem;
      font-size: 1.5rem;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      margin: 1rem 0;
      background-color: rgb(233, 233, 233);
      box-shadow: 5px 5px 5px darkgray;
      width: 20rem;
    }
  }
}
